@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Silkscreen:wght@400;700&display=swap');

html {
    font-size: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #232227;

    & aside {
        position: fixed;
    }
}

.wrapper {
    margin-top: 4.5rem;
    margin-left: 4.5rem;
}

.hero-section {
    display: flex;
    align-content: center;


    & .content,
    .design {
        height: 40rem;
        padding: 4rem;
        border-bottom: 1px solid #000;
        flex: 1;
    }

    & .content {
        background-color: #fde3c7;
        border-right: 1px solid #000;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        & h1 {
            font-size: 4.6rem;
            font-weight: 500;
            line-height: 1.2;
        }

        & .subtitle {
            max-width: 32rem;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.7;

        }

        & button-component::part(container) {
            padding: 1.3rem 3rem;
        }

        & button-component::part(content) {
            font-weight: 500;
        }

    }

    & .design {
        background-color: #c9bffe;
        position: relative;

        & .chip-icon {
            bottom: 13.1rem;
            left: 15rem;

            & i {
                animation: spin 3s linear infinite;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &::part(container) {
                height: 7rem;
                width: 7rem;
                font-size: 5.3rem;
            }
        }

        & .chip-design {
            bottom: 14.4rem;
            left: 18rem;
            transform: rotateZ(42deg);

            &::part(container) {
                height: 6rem;
                width: 20rem;
            }
        }

        & .chip-and {
            bottom: 0;
            left: .7rem;
            transform: rotateZ(-20deg);

            &::part(container) {
                height: 10rem;
                width: 6rem;
            }
        }

        & .chip-cro {
            bottom: 6.7rem;
            left: 15rem;


            &::part(container) {
                height: 6rem;
                width: 15rem;
            }
        }

        & .chip-development {
            bottom: .3rem;
            left: 10rem;

            &::part(container) {
                height: 6rem;
                width: 30rem;
            }
        }

        &>* {
            position: absolute;
            font-weight: 600;
            font-size: 3.3rem;
        }
    }
}

.clients-section {
    border-bottom: 1px solid #000;
    display: flex;

    & h2 {
        font-weight: 300;
        padding: 2rem;
        border-right: 1px solid #000;
    }

    & .clients {
        display: flex;
        flex-grow: 1;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;

        & img {
            width: 8rem;
            position: relative;
            height: 100%;
        }

    }

}


.services-section {
    padding: 4rem;
    border-bottom: 1px solid #000;


    & .sevices__title {
        font-size: 3.4rem;
        font-weight: 500;
        margin-bottom: 4rem;
    }

    & .cards-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .card-content {
            display: flex;
            flex-direction: column;

            & .card-content__title {
                margin-bottom: 1rem;
                font-size: 1.8rem;
                font-weight: 600;
            }

            & .card-content__subtitle {
                margin-bottom: 1rem;
                font-weight: 300;
            }

            & i {
                font-size: 3rem;
                margin-bottom: 1rem;
            }
        }

        & card-component::part(content) {
            max-width: 21rem;
            min-height: 20rem;
        }
    }

}

.projects-section {
    display: flex;
    flex-direction: column;

    & .project {
        display: flex;
        border-bottom: 1px solid #000;
        height: 45rem;

        & .project__desc {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right: 1px solid #000;


            & h2 {
                font-size: 3rem;
                font-weight: 500;
            }

            & p {
                font-size: 1.2rem;
                line-height: 1.5;
                font-weight: 300;
                text-align: center;
                padding: 0 5rem;
            }

            & .chips {
                & :first-child {
                    margin-right: 1rem;
                }

                & .chip::part(container) {
                    height: 2.4rem;
                    width: 8rem;
                }
            }



            & button-component::part(container) {
                padding: 1.3rem 3rem;
            }

            & button-component::part(content) {
                font-weight: 500;
            }

            &>* {
                margin-bottom: 2rem;
            }


            & :last-child {
                margin-bottom: 0;
            }
        }

        & .project__img {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 1;

            & img {
                border-radius: 1rem;
                border: 1px solid #000;
            }
        }

        &>* {
            flex: 1;
            padding: 4rem;
        }
    }

    & .project:nth-child(1) {
        & .project__img {
            background-color: #c9bffe;
        }
    }

    & .project:nth-child(2) {
        & .project__img {
            background-color: #fde3c7;
        }
    }

    & .project:nth-child(3) {
        & .project__img {
            background-color: #d4fada;
        }
    }

    & .project:nth-child(even) {


        & .project__desc {
            order: 2;
            border-right: none;
            align-items: center;

            & p {
                text-align: center;
                padding: 0 5rem;

            }
        }

        & .project__img {
            order: 1;
            border-right: 1px solid #000;

        }
    }

}

.contact-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c9bffe;
    height: 25rem;

    & .container {

        display: flex;
        align-items: center;
        justify-content: center;

        & :last-child {
            margin-left: 2rem;
        }


        & h2 {
            font-size: 4rem;
            font-weight: 500;
        }

        & button-component::part(container) {
            padding: 1.3rem 3rem;
        }

        & button-component::part(content) {
            font-weight: 500;
        }


        & i {
            font-size: 5rem;
            top: 2rem;
            left: 5rem;
            position: absolute;
            animation: spin 3s infinite linear;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    background-color: #232227;
    color: #FFF;

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        & a {
            text-decoration: none;
            color: #FFF;
            transition: all .4s ease;
            margin-bottom: 1rem;

            & h1 {
                padding: 0;
                margin: 0;
                font-size: 1.2rem;
                font-weight: 600;
                letter-spacing: .2rem;
            }
        }

        & a:hover {
            transform: translateX(.2rem);
        }
    }
}

.reviews-section {
    padding: 4rem;
    border-bottom: 1px solid #000;

    & h2 {
        font-size: 3.6rem;
        font-weight: 400;
        margin-bottom: 4rem;
    }

    & .cards-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        & .card-content {
            width: 25rem;
            height: 15rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            & h2 {
                margin-bottom: 1.6rem;
                font-size: 1.8rem;
                font-weight: 500;
            }

            & p {
                line-height: 1.6;
                font-weight: 300;
            }
        }
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}